@import url(https://fonts.googleapis.com/css?family=Inter+Tight:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter Tight";
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 1.2em;
    height: 1em;
}

::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb{
    background: #5e5e5e;
    border: .25em solid #ffffff;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover{
    background: #3f3f3f; 
}

.titulo {
    background-color: #3f3f3f;
    color: white;
    padding: 20px;
}

a {
    color: #000;
}

.banner {
    height: 30vh;
    background-image: url("../img/img-teste.jpg");
    background-size: cover;
}

.img {
    height: 200px;
    width: 95%;
    background-image: url("../img/img-teste.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.conteudo {
    display: flex;
    justify-content: space-between;
}

.conteudo-principal {
    padding: 50px 150px;
    border-right: 1px solid #000;
    width: 75%;
}

.texto {
    width: 80%;
}

.curiosidade {
    color: gray;
}

.video {
    display: flex;
    justify-content: center;
}

.sidebar {
    padding: 30px;
    width: 25%;
    position: sticky;
    top: 0;
    height: 30vh;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    padding: 5px;
}

@media (max-width: 800px) {
    nav {
        margin-left: 0px;
    }
}
